body {
  font-family: Arial, sans-serif;
  background-image: url("img/images.1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-image: url("img/images.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(228, 228, 230, 0.9).9;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
  text-align: center;
  color: #d9dde4;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-image: url("img/backround.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

button:hover {
  opacity: 0.85;
}

a {
  color: #e6ecf1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: center;
}
